@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-regular {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  /* ______________________shared styles______________________*/
  .display-flex{
    display: flex;
  }
  .dark-1{
    color: #131313;
  }
  .dark-2{
    color: #424242;
  }
  .dark-3{
    color: #727272;
  }
  .bg-light{
    background-color: rgba(255, 144, 14, 0.1);
  }
  .btn-primary{
    font-weight: 600;
    font-size: 1.25rem;
    background-color: #FF900E;
    color: #FFFFFF;
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
  }
  .btn-primary:hover{
    cursor: pointer;
    background-color: rgb(5, 5, 62);
    
  }
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}

.section-title{
    font-size: 2.8rem;
    font-weight: 700;
  }
  /*______________________header styles______________________*/



  /*______________________nav related styles ______________________*/


  .navbar{
    justify-content: space-between;
    align-items: center;
  }
  .brand{
    font-weight: 700;
    font-size: 3rem;
  }
  .nav-items{
    list-style: none;
    margin-right: 30px;
  }
  .nav-links{
    text-decoration: none;
  }
  .navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
  }

  /* ______________________banner styles______________________ */
  .banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
  }
  .banner-title{
    font-weight: 700;
    font-size: 4rem;
  }
  .banner-description{
    font-weight: 400;
    font-size: 1rem;
  }
  .banner-image{
    width: 100%;
  }

  /* _________________________team__feature__styles_______________ */
  .teams{
    align-items: center;
  }
  .team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  .our-features{
    margin-left: 75px;
  }
  
  #quick-list{
    font-weight: 500;
  }
  #features{
    color: #FF900E;
  }

/* _______________________some__facts__related__ styles____________ */

.facts-sontainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
  }
  .fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .fact-icon{
    margin-top: 45px;
  }
  .fact-number{
    font-weight: 600;
    font-size: 2.8rem;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .fact-name{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 10px;
  }
  .fact-description{
    max-width: 540px;
  }

  /* ______________________responsive__media__query_______________ */



@media screen and (max-width: 576px) {
    .navbar,
    .nav-links,
    .teams{
        flex-direction: column;
    }
    .team-img-container, .facts-sontainer{
        grid-template-columns: repeat(1, 1fr);
    }
    .facts-sontainer{
       justify-content: center;
       align-items: center;
       gap: 24px;
    }
   
    .our-features{
        margin: 20px;
    }
}

/* _____________medium screeen responsive____________ */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin: 50px auto;
    }
}